#!/bin/bash -e
export THIS_DIR="$(git rev-parse --show-toplevel)"
export SECRETS_DIR="${THIS_DIR}/.secrets"


# mozilla/sops
make decrypt

source "${SECRETS_DIR}/.envrc.sh"

export KUBECONFIG="${SECRETS_DIR}/kubeconfig.yaml"

# SSH
ssh() {
	MY_IP=$(curl --silent https://api.ipify.org) && doctl compute firewall add-rules $(doctl compute firewall list --output=json | jq -r '.[].id') --inbound-rules "protocol:tcp,ports:22,address:${MY_IP}/32"

	/usr/bin/ssh $@

	MY_IP=$(curl --silent https://api.ipify.org) && doctl compute firewall remove-rules $(doctl compute firewall list --output=json | jq -r '.[].id') --inbound-rules "protocol:tcp,ports:22,address:${MY_IP}/32"
}

# Kubernetes
export HELM_HOME="${THIS_DIR}/.helm"
export KUBE_EDITOR="vim"
