#!/bin/bash -e
export THIS_DIR="$(git rev-parse --show-toplevel)"
export SECRETS_DIR="${THIS_DIR}/.secrets"


# mozilla/sops
make decrypt

source "${SECRETS_DIR}/.envrc.sh"

if [[ -f "${THIS_DIR}/kubeconfig.yaml" ]]; then
	export KUBECONFIG="${THIS_DIR}/kubeconfig.yaml"
else
	export KUBECONFIG="${SECRETS_DIR}/kubeconfig.yaml"
fi

# SSH
ssh() {
	MY_IP=$(curl --silent https://api.ipify.org) && doctl compute firewall add-rules $(doctl compute firewall list --output=json | jq -r '.[].id') --inbound-rules "protocol:tcp,ports:22,address:${MY_IP}/32"

	/usr/bin/ssh $@

	MY_IP=$(curl --silent https://api.ipify.org) && doctl compute firewall remove-rules $(doctl compute firewall list --output=json | jq -r '.[].id') --inbound-rules "protocol:tcp,ports:22,address:${MY_IP}/32"
}

# Kubernetes
export HELM_HOME="${THIS_DIR}/.helm"
export KUBE_EDITOR="vim"

export_alias k 'kubectl $@'
export_alias kube 'kubectl $@'
export_alias s3cmd '/usr/local/bin/s3cmd --config=${SECRETS_DIR}/.s3cfg $@'
